taktx-shared/src/main/resources/bpmn/zeebe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://camunda.org/schema/zeebe/1.0">
  <xs:element name="calledElement">
    <xs:complexType>
      <xs:attribute name="processId" use="required" type="xs:string"/>
      <xs:attribute name="propagateAllChildVariables" type="xs:boolean"/>
      <xs:attribute name="propagateAllParentVariables" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="loopCharacteristics">
    <xs:complexType id="LoopCharacteristics" >
      <xs:attribute name="inputCollection" use="required" type="xs:string"/>
      <xs:attribute name="inputElement" use="required" type="xs:string"/>
      <xs:attribute name="outputCollection" use="required" type="xs:string"/>
      <xs:attribute name="outputElement" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskDefinition">
    <xs:complexType id="taskDefinition" >
      <xs:attribute name="type" use="required" type="xs:string"/>
      <xs:attribute name="retries" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="userTask">
    <xs:complexType id="UserTask">
    </xs:complexType>
  </xs:element>
  <xs:element name="assignmentDefinition">
    <xs:complexType id="AssignmentDefinition" >
      <xs:attribute name="assignee" type="xs:string"/>
      <xs:attribute name="candidateGroups" type="xs:string"/>
      <xs:attribute name="candidateUsers" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskSchedule">
    <xs:complexType id="TaskSchedule" >
      <xs:attribute name="dueDate" type="xs:string"/>
      <xs:attribute name="followUpDate" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="priorityDefinition">
    <xs:complexType id="PriorityDefinition" >
      <xs:attribute name="priority" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="formDefinition">
    <xs:complexType id="FormDefinition">
      <xs:attribute name="externalReference" type="xs:string"/>
      <xs:attribute name="formId" type="xs:string"/>
      <xs:attribute name="formKey" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskHeaders">
    <xs:complexType id="taskHeaders" >
      <xs:sequence>
        <xs:element name="header" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="key" use="required" type="xs:string"/>
            <xs:attribute name="value" use="required" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subscription">
    <xs:complexType>
      <xs:attribute name="correlationKey" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="script">
    <xs:complexType>
      <xs:attribute name="expression" use="required"/>
      <xs:attribute name="resultVariable" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="versionTag">
    <xs:complexType>
      <xs:attribute name="value" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ioMapping">
    <xs:complexType id="ioMapping">
          <xs:sequence>
            <xs:element name="input" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="source" use="required" type="xs:string"/>
                <xs:attribute name="target" use="required" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="output" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="source" use="required" type="xs:string"/>
                <xs:attribute name="target" use="required" type="xs:string"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
